h4,
p {
  text-align: center;
}
.first {
  position: relative;
  left: 5rem;
}
.second {
  position: relative;
  left: 15rem;
}
.third {
  position: relative;
  left: 25rem;
}
.fourth {
  position: relative;
  left: 35rem;
}
